.tablePane {
    -fx-background-image: url("/other/background/sfondo_tavolo.jpg");
    -fx-background-size: stretch;
}

.prod1Btn{
    -fx-background-image: url("/other/buttons/prod_1.png");

    -fx-border-color: transparent;
    -fx-background-size: stretch;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}

.prod1Btn:hover{
    -fx-effect: dropshadow(gaussian, #f2e0d6, 20, 0.3, 0, 0);
    -fx-cursor: hand;
}

.prod2Btn{
    -fx-background-image: url("/other/buttons/prod_2.png");

    -fx-border-color: transparent;
    -fx-background-size: stretch;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}

.prod2Btn:hover{
    -fx-effect: dropshadow(gaussian, #f2e0d6, 20, 0.3, 0, 0);
    -fx-cursor: hand;
}

.prod3Btn{
    -fx-background-image: url("/other/buttons/prod_3.png");

    -fx-border-color: transparent;
    -fx-background-size: stretch;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}

.prod3Btn:hover{
    -fx-effect: dropshadow(gaussian, #f2e0d6, 20, 0.3, 0, 0);
    -fx-cursor: hand;
}

.baseProdBtn{
    -fx-background-image: url("/other/buttons/base_prod.png");

    -fx-border-color: transparent;
    -fx-background-size: stretch;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}

.baseProdBtn:hover{
    -fx-effect: dropshadow(gaussian, #f2e0d6, 20, 0.3, 0, 0);
    -fx-cursor: hand;
}

.leader1Btn{
    -fx-background-image: url("/other/buttons/leader_1.png");

    -fx-border-color: transparent;
    -fx-background-size: stretch;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}

.leader1Btn:hover{
    -fx-effect: dropshadow(gaussian, #f2e0d6, 20, 0.3, 0, 0);
    -fx-cursor: hand;
}

.leader2Btn{
    -fx-background-image: url("/other/buttons/leader_2.png");

    -fx-border-color: transparent;
    -fx-background-size: stretch;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}

.leader2Btn:hover{
    -fx-effect: dropshadow(gaussian, #f2e0d6, 20, 0.3, 0, 0);
    -fx-cursor: hand;
}

.showMarketBtn{
    -fx-background-image: url("/other/buttons/show_market.png");

    -fx-border-color: transparent;
    -fx-background-size: stretch;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}

.showMarketBtn:hover{
    -fx-effect: dropshadow(gaussian, #f2e0d6, 20, 0.3, 0, 0);
    -fx-cursor: hand;
}

.showDevCardButton{
    -fx-background-image: url("/other/buttons/show_devcard.png");

    -fx-border-color: transparent;
    -fx-background-size: stretch;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}

.showDevCardButton:hover{
    -fx-effect: dropshadow(gaussian, #f2e0d6, 20, 0.3, 0, 0);
    -fx-cursor: hand;
}
