
.rootPane {
-fx-background-image: url("/other/sfondo_login.jpg");
-fx-background-size: stretch;
}

.startButton{
-fx-background-image: url("/other/button_sfondo.png");

    -fx-border-color: transparent;
    -fx-background-size: stretch;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;

}

.startButton:hover{
    -fx-effect: dropshadow(gaussian, #f2e0d6, 20, 0.3, 0, 0);
    -fx-cursor: hand;
}

.exitButton{
    -fx-background-image: url("/other/button_sfondo.png");

    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-background-size: stretch;
}

.exitButton:hover{
    -fx-effect: dropshadow(gaussian, #f2e0d6, 20, 0.3, 0, 0);
    -fx-cursor: hand;
}